uwsgi==2.0.19.1
django==3.1
psycopg2==2.8.5
dj-database-url==0.5.0
whitenoise==5.2.0
django-storage-url==0.5.0
boto3==1.16.4
django-autoslug
django-parler==2.2
django-pagedown

pillow==8.1.1
sorl-thumbnail
easy_thumbnails==2.7.1
beautifulsoup4
bleach
mistune
rtfunicode
html5lib==0.9999999  # the latest html5lib==0.999999999 install fails
WeasyPrint
django-weasyprint

unicodecsv
