uwsgi==2.0.19.1

django>=3.1,<3.2
django-ckeditor
django-pipeline
django-autoslug
django-parler
django-ckeditor

pillow
sorl-thumbnail
reportlab
beautifulsoup4
bleach
mistune
rtfunicode
html5lib==0.9999999  # the latest html5lib==0.999999999 install fails

unicodecsv
