<!DOCTYPE html>{% load i18n static smartpages easy_thumbnails_tags martortags getattribute relativise_img_src %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr' }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="astroEDU is an open-access peer-review platform for educators to discover, review, distribute, improve, and remix the best astronomy education activities around the world.">
<link rel="search" type="application/opensearchdescription+xml" href="/opensearch_desc.xml" title="astroEDU">
<title>{% block site_title %}astroEDU{% endblock %}</title>

<link href="{% static 'css/print.css' %}" rel="stylesheet" />
<link href="{% static 'css/fonts.css' %}" rel="stylesheet" />


<link href='https://fonts.googleapis.com/css?family=Bowlby+One+SC&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa:300&subset=latin,greek,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">


</head>
<body>


<div id="frontpage">
      <img src="{% static 'designimages/astroEDU_pdf_cover.png' %}"/>
        <h1 class="title_text">{{ object.title }}</h1>

        <h2 class="orange title_text">{{ object.teaser }}</h2>
      	<div class="authors">{{ object.master.author_list }}</div>
</div>

  <div class="row">
{% if object.master.main_visual %}
    <img src="{{ object.master.main_visual.url}}" class="main_visual"/>
{% endif %}


<div class="row">
  <div class="section_meta">
  {% for section in object.master.metadata_aslist %}
  {% if section.0 not in long_meta %}
    <div class="section_meta_inner">
      <div class="meta">
        <div class="icon"><img src="{% static 'designimages/sections-grey/'|add:section.0|add:'.svg' %}" alt="" /></div>
        <div class="title_text">{% trans section.1|upper %}</div>
      </div>
      <div class="content">{{ section.2 }}</div>
    </div>
    {% endif %}
  {% endfor %}
  {% for section in object.master.metadata_aslist %}
  {% if section.0 in long_meta %}
    <div class="section_long_meta_inner">
      <div class="meta">
        <div class="icon"><img src="{% static 'designimages/sections-grey/'|add:section.0|add:'.svg' %}" alt="" /></div>
        <div class="title_text">{% trans section.1|upper %}</div>
      </div>
      <div class="content">{{ section.2 }}</div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="section_meta"><div class="section_long_meta_inner">
    <div class="meta">
      <div class="icon"><img src="{% static 'designimages/sections-grey/keywords.svg' %}" alt="" /></div>
      <div class="title_text">{% trans 'Keywords' %}</div>
    </div>
    <div class="content">{{ object.master.keywords }}</div>
  </div>
</div>
</div>

<div class="maincontent">
	{% for section in sections %}
  <div class="section {{section.0}}">
		<div class="section-title">
			<div class="icon"><img src="{% static 'designimages/sections-orange/'|add:section.0|add:'.svg' %}" alt="" /></div>
			<div class="title_text"><h3>{% trans section.1|upper %}</h3></div>
		</div>
		<div class="text">{{ object|getattribute:section.0|safe_markdown|relativise_img_src:object.master }}</div>
	</div>
	<div class="clear"></div>
{% endfor %}
</div>

<div class="layout_rightcolumn">


		{% if object.master.attachment_list or object.master.languageattachment_list %}
		<div class="section grey">
			<div class="title_text">{% trans "Attachments" %}</div>
            {% if object.master.attachment_list %}
            <ul>
                {% for attachment in object.master.attachment_list %}
                    <li><a href="{{ attachment.file.url }}" target="_blank">{{ attachment.display_name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if object.master.languageattachment_list %}
              <ul>
                {% for attachment in object.master.languageattachment_list %}
                    <li><a href="{{ attachment.file.url }}" target="_blank">{{ attachment.display_name }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}

    {% if object.master.attachment_list|length > 1 or object.master.languageattachment_list|length > 1 %}
        <div class="title_text">{% trans "All Attachments" %}</div>
        <a href="{% url 'activities:detail-code' code=object.master.code %}?format=zip">All attachments</a>
    {% endif %}

		</div>
		{% endif %}


<div class="row">
		<div class="section grey">
			<div class="title_text">{% trans "Citation" %}</div>
			<div class="text">
				{{object.master.citable_author_list}}, {{object.master.release_date|date:"Y"}}, <em>{{object.title}}</em>, <a href="{{object.get_absolute_url}}">astroEDU, {{object.code}}</a>{% if object.master.doi %} <a href="http://dx.doi.org/{{object.master.doi}}"> doi:{{object.master.doi}}</a>{% endif %}
			</div>
		</div>
</div>
<div class="row">
		{% if object.acknowledgement %}
		<div class="section orange">
			<div class="title_text">{% trans "Acknowledgement" %}</div>
			<div class="text">
				{{object.acknowledgement}}
			</div>
		</div>
		{% endif %}

	</div>
</div>


</body>
</html>
