{% load i18n static easy_thumbnails_tags %}
    <div class="featured_item{% if not object.is_released%} unpublished{% endif %}">
        <div class="title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div>
        <div class="image">
          <a href="{{ object.get_absolute_url }}">
            <img src="{{ object.image|thumbnail_url:"thumb" }}" alt="{{ object.title }}" />
          </a>
        </div>
        <div class="metadata_bottom">
            <p>{{ object.description }}</p>
        </div>
        <div class="activity-link"><a href="{{ object.get_absolute_url }}"><img src="{% static 'designimages/arrow_next.svg' %}" alt="View activity" /></a></div>
        <div class="collection_footer"><img src="{% static 'designimages/collection_footer.png' %}" alt=""/></div>
    </div>
